.result-pre {
    background-color: #f8f9fa; /* Light background for the result area */
    border: 1px solid #ced4da; /* Matching Bootstrap's styling */
    padding: 0.75rem;
    overflow-y: auto; /* Ensure it's scrollable */
}

/* Existing styles */
/* Add below */
.line-numbers {
    color: #777;
    background-color: #eee;
    padding-right: 10px; /* Space between line numbers and text */
    user-select: none; /* Prevent selection */
}

textarea, .result-pre {
    flex-grow: 1;
    height: 100%;
    border-left: 1px solid #ccc; /* Separates line numbers */
}

.container-fluid, .row, .d-flex {
    height: 100%;
}

textarea {
    overflow-y: hidden; /* Hide the textarea's own scrollbar */
    resize: none;
}

.content-page {
    padding-left: 0px;
    padding-right: 0px;
}
