<ul class="side-nav">

    <li class="side-nav-title side-nav-item">Application</li>

    <li class="side-nav-item">
        <a href="/" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> Editor </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="/results" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> History </span>
        </a>
    </li>


    <li class="side-nav-title side-nav-item">Docs</li>
    
    <li class="side-nav-item">
        <a href="#" class="side-nav-link">
            <i class="uil-comments-alt"></i>
            <span> Isaac </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="#" class="side-nav-link">
            <i class="uil-comments-alt"></i>
            <span> CubeSat </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">Files</li>
    

        {% for filename in filenames %}
        <li class="side-nav-item filename-item" data-filename="{{ filename }}">
            <a href="#" class="side-nav-link">
                <i class="uil-comments-alt"></i>
                <span> {{ filename }} </span>
            </a>
        </li>
        {% endfor %}
</ul>
    